<?xml version="1.0" encoding="utf-8" ?>
<!--
This is a sample showing how to properly configure PluggableWorkers.  Each <worker> is named, given a type
and has settings defined that match the Settings class contained within the type.
-->
<pluggableWorkers>
	<workers>
    <!--
    If you're loading workers in another assembly, remember that the type must be fully specified.  For example:
    <worker name="Sample" type="YourAssembly.Worker,YourAssembly"
    -->
		<worker name="Sample" type="PluggableWorkers.SampleWorker">
			<TestString>Some string</TestString>
      <TestInts>1</TestInts>
		</worker>
		<worker name="Sample2" type="PluggableWorkers.SampleWorker">
			<TestString>Seocnd worker, test string</TestString>
      <TestInts>1;2;3;4;5</TestInts>
		</worker>
	</workers>
</pluggableWorkers>