<?xml version="1.0" encoding="utf-8" ?>
<pluggableWorkers>
	<workers>
		<worker name="Testing" type="PluggableWorkers.TestWorker">
			<TestString>Some string</TestString>
		</worker>
		<worker name="Testing2" type="PluggableWorkers.TestWorker">
			<TestString>Another string</TestString>
		</worker>
	</workers>
</pluggableWorkers>