<?xml version="1.0" encoding="utf-8" ?>
<pluggableWorkers>
	<workers>
		<worker name="Sample" type="PluggableWorkers.SampleWorker">
			<TestString>Some string from ConsoleRunner.</TestString>
      <TestInts>1</TestInts>
		</worker>
		<worker name="Sample2" type="PluggableWorkers.SampleWorker">
			<TestString>Seocnd worker, test string</TestString>
      <TestInts>1;2;3;4;5</TestInts>
		</worker>
	</workers>
</pluggableWorkers>